
@font-face {
  font-family: 'AKMyPrince';
  src: url('AKMyPrince.eot?#iefix') format('embedded-opentype'),  url('AKMyPrince.woff') format('woff'), url('AKMyPrince.ttf')  format('truetype'), url('AKMyPrince.svg#AKMyPrince') format('svg');
  font-weight: normal;
  font-style: normal;
}
