
@font-face {
  font-family: 'AkzidenzGrotExtBQ-Regular';
  src: url('AkzidenzGrotExtBQ-Regular.eot?#iefix') format('embedded-opentype'),  url('AkzidenzGrotExtBQ-Regular.woff') format('woff'), url('AkzidenzGrotExtBQ-Regular.ttf')  format('truetype'), url('AkzidenzGrotExtBQ-Regular.svg#AkzidenzGrotExtBQ-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
